In [4]:
from matplotlib import pyplot as plt
import numpy as np
import json
import requests
import pandas as pd
import time
from keras.layers import Dropout, Dense, Activation, LSTM
from keras.models import Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize

from datetime import datetime  
from datetime import timedelta

In [5]:
def line_plot(line1, line2, label1=None, label2=None, title=''):
    fig, ax = plt.subplots(1, figsize=(25, 15))
    ax.plot(line1, label=label1, linewidth=2)
    ax.plot(line2, label=label2, linewidth=2)
    
    for i, j in zip(line1, line2):
        ax.plot([i], [],)
    
    ax.set_ylabel('price [USD]', fontsize=14)
    ax.set_title(title, fontsize=18)
    ax.legend(loc='best', fontsize=18)
    plt.show()

In [7]:
coin = 'BTC'

In [9]:
endpoint = 'https://min-api.cryptocompare.com/data/histoday'
res = requests.get(endpoint + '?fsym='+coin+'&tsym=USD&limit=2000')
hist = pd.DataFrame(json.loads(res.content)['Data'])
hist = hist.set_index('time')
hist.index = pd.to_datetime(hist.index, unit='s')
hist.head()

            close   high    low   open  volumefrom    volumeto
time
2013-01-28  18.72  18.88  17.75  17.82    57669.44  1057611.30
2013-01-29  19.53  19.80  18.70  18.72    86082.08  1650126.18
2013-01-30  19.70  19.80  19.15  19.53    45064.83   877863.50
2013-01-31  20.41  21.43  19.51  19.70    99226.70  2042238.64
2013-02-01  20.50  21.13  20.30  20.41    49917.48  1034619.16

In [11]:
train_test_split()

(2001, 6)